font { 
    font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 175%;
}

input { 
    font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;
	
}
a{ 
    	link: #2a3463;
	border: 0;
	color: #2a3463;
	font-weight: bold;
	
	
}

th { 
    font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #2a3463;line-height: 175%;
 	font-weight: bold;
	
}

tr { 
    font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 175%;

}

input.white {
	font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;
	border: 0;
	background-color: #ffffff;
}

input.red {
	font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;
	border: 0;
	background-color: #666666;
}
h1 { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #2a3463;line-height: 175%;
 	font-weight: bold;
}

td.sequence { 
    font:11px Courier New, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 175%;

}

td.alignment { 
    font:12px Courier New, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 100%;
}


td.headline { 
    font:12px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #4e4c4c;line-height: 175%;
	font-weight: bold;
}

td.rankone { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #1c9d33;line-height: 175%;
}

td.ranktwo { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #3b8dd3;line-height: 175%;
}

td.rankthree { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #f51f5b;line-height: 175%;
}

td.error { 
    font:11px Courier New, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #f51f5b;line-height: 175%;
	font-weight: bold;
}



td.hit { 
    font:11px Courier New, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #CC0200;line-height: 175%;
	font-weight: bold;
}

b.head { 
    font:18px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 175%;
	font-weight: bold;
}

b.head2 { 
    font:18px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 100%;
	font-weight: bold;
}

listitem{
 font:12px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 100%;
	font-weight: bold;

}

a.modified { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #f51f5b;line-height: 175%;
}

a.unmodified { 
   font:11px Verdana, Lucida Grande, Arial, Helvetica, sans-serif;
	color: #666666;line-height: 175%;
}







